@use "../abstracts/mixins" as mixins;
@use "../abstracts/variables" as variables;
@import "../abstracts/include-media";

.algemeencards {
  display: flex;
  flex-direction: column;

  & > :nth-child(even) {
    flex-direction: row-reverse;
  }
  .algemeencards__card {
    display: flex;
    gap: 40px;

    @include media("<tablet") {
      margin-bottom: 40px;
      gap: 20px;
      flex-direction: column-reverse;
    }

    .algemeencards__card--text {
      width: 60%;
      @include mixins.center-left;

      @include media("<tablet") {
        width: 100%;
      }

      .algemeencards__card--title {
        font-size: variables.$size-sub-heading;
      }

      .algemeencards__card--paragraph {
        font-size: variables.$size-text;
      }
      .read-more {
        align-self: flex-end;
      }
    }
    .algemeencards__card--image {
      width: 40%;
      @include media("<tablet") {
        width: 100%;
      }

      & > img {
        width: 100%;
        @include mixins.cut-corner;
      }
    }
  }
}

.algemeencards__list {
  padding: 10px 10px 10px 20px;
  list-style: inside;
  list-style-type: "- ";
}
