@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as mixin;
@import "../abstracts/include-media";

.cards {
  @include media(">tablet") {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    & > :nth-child(even) {
      margin-top: 80px;
    }
  }

  //   padding: 40px;
  .cards__card {
    @include media("<tablet") {
      padding: 15px 0;
    }

    .cards__card--wrapper {
      background-color: $secondary-color;
      border-left: 4px solid;
      padding: 10px;
      @include mixin.cut-corner;
    }

    .cards__card--title {
      font-size: $size-sub-heading;
    }
    .cards__card--paragraph {
      font-size: $size-text;
    }
  }
}
