@use "../abstracts/mixins" as mixin;
@use "../abstracts/variables" as variables;

.content {
  background-color: variables.$secondary-color;

  .container {
    gap: 20px;
    display: flex;

    @media (max-width: variables.$breakpoint-medium) {
      flex-direction: column;
      align-items: center;
    }

    // left side of the content section
    .content__banner {
      @media (min-width: variables.$breakpoint-medium) {
        width: 45%;
      }

      .content__banner--banner {
        width: 100%;
        @include mixin.cut-corner;
      }
    }

    // right side of the content section
    .content__info {
      @media (min-width: variables.$breakpoint-medium) {
        width: 55%;
      }

      @include mixin.center-left;

      .content__info--title {
        font-size: variables.$size-sub-heading;
      }
      .content__info--paragraph {
        font-size: variables.$size-text;
      }
    }
  }
}
