@use "../abstracts/mixins" as mixins;
@use "../abstracts/variables" as variables;
@import "../abstracts/include-media";

.gallery {
  display: flex;
  gap: 20px;

  @include media("<tablet") {
    flex-direction: column;
  }

  // left side
  .gallery__images {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    @include media("<tablet") {
      height: 400px;
      gap: 10px;
    }

    @include media("<phone") {
      flex-direction: column;
    }

    .gallery__images--preview {
      height: 80%;
      width: 100%;
      min-width: 300px;
      display: flex;
      align-items: center;

      @include media("<phone") {
       min-width: 100px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .gallery__images--slider {
      height: 300px;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      width: 100%;
      min-width: 80px;

      @include media("<tablet") {
        width: 20%;
        min-width: 80px;
      }

      @include media("<phone") {
        flex-direction: row;
        width: 100%;
        height: 100px;
      }

      gap: 10px;

      img {
        width: 100%;
        height: 80px;
      }
    }
  }

  // right side
  .gallery__text {
    width: 100%;

    .gallery__text--heading {
      font-size: 24px;
    }

    // .gallery__text--paragraph {}
  }
}
