@use "../abstracts/variables" as *;

.footer {
  display: flex;
  flex-direction: column;
  background-color: $secondary-color;
  gap: 20px;

  & > .footer__contact {
    display: flex;
    justify-content: space-between;
  }
  & > .footer__socials {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}
