@use "../abstracts/mixins" as mixin;
@use "../abstracts/variables" as variables;
@import "../abstracts/include-media";

.hero {
  display: flex;
  gap: 20px;

  @include media("<tablet") {
    flex-direction: column-reverse;
  }
  // padding: 40px;

  // linker kant van de hero
  .hero__info {
    @include media(">tablet") {
      width: 60%;
    }
    @include mixin.center-left;

    .hero__info--title {
      font-size: variables.$size-heading;
      background-color: none;
    }

    .hero__info--paragraph {
      font-size: variables.$size-text;
      margin: 20px 0;
    }
  }

  // rechter kant van de hero
  .hero__banner {
    @include media(">tablet") {
      width: 40%;
    }
    margin: 0 auto;
    display: flex;
    align-items: center;

    .hero__banner--banner {
      width: 100%;
      @include mixin.cut-corner;
    }
  }
}
