@use "../abstracts/variables" as variables;
@use "../base/fonts" as *;
@import "../abstracts/include-media";

.header {
  width: 100%;
  background-color: variables.$secondary-color;
  position: sticky;
  top: 0;
  z-index: 9999;

  & > .navigation {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0 40px;

    // Logo
    & > .logo {
      height: 100%;
      padding: 10px 0;
    }

    // Menu items
    // & > .nav-items,
    .contact {
      display: none;
    }
  }
}

// DESKTOP NAV
@include media(">tablet") {
  .header {
    & > .navigation {
      // Menu items
      & > .nav-items {
        display: flex;
        gap: 20px;
        list-style: none;
      }

      & > .nav-items {
        & > .item {
          & > .link {
            color: variables.$primary-color;
          }
        }
        & > .item-contact {
          display: none;
        }
      }

      .contact {
        display: block;
      }

      & > .hamburger {
        display: none;
      }
    }
  }
}

// MOBILE NAV
@include media("<=tablet") {
  .header {
    & > .navigation {
      & > .nav-items {
        position: fixed;
        display: flex;
        // display: none;
        flex-direction: column;
        padding: 10px 0;
        gap: 10px;
        top: 64px;
        background-color: variables.$primary-color;
        width: 100%;
        left: 0;
        text-align: center;

        & > .item {
          & > .link {
            color: variables.$secondary-color;
          }
        }
      }

      & > .hamburger {
        display: flex;
        flex-direction: column;
        padding: 4px;
        gap: 4px;

        & > .line {
          width: 12.5px;
          height: 2px;
          border-radius: 5px;
          background-color: variables.$secondary-color;
        }
      }
    }
  }
}
