@use "../abstracts/mixins" as mixin;
@use "../abstracts/variables" as variables;
@import "../abstracts/include-media";

.ontwerphero {
  @include mixin.cut-corner;
  display: flex;
  gap: 20px;

  @include media("<tablet") {
    flex-direction: column-reverse;
  }
  // padding: 40px;

  // linker kant van de ontwerphero
  .ontwerphero__info {
    @include media(">tablet") {
      width: 60%;
    }
    @include mixin.center-left;

    .ontwerphero__info--title {
      font-size: variables.$size-heading;
      background-color: none;
    }

    .ontwerphero__info--paragraph {
      font-size: variables.$size-text;
      margin: 20px 0;
    }

    .ontwerphero__links {
      .ontwerphero__links--link {
        margin: 4px 2px;
        cursor: pointer;
      }
    }
  }

  // rechter kant van de ontwerphero
  .ontwerphero__banner {
    @include media(">tablet") {
      width: 40%;
    }
    margin: 0 auto;

    .ontwerphero__banner--banner {
      width: 100%;
      @include mixin.cut-corner;
    }
  }
}
