@use "../abstracts/variables" as *;

.ontwerpcontent {
  background-color: $secondary-color;
  .ontwerpcontent__wrapper {
    display: flex;
    justify-content: space-between;

    .ontwerpcontent__item {
      text-align: center;

      .ontwerpcontent__item--title {
        font-size: $size-heading;
        font-weight: $font-bold;
      }

      .ontwerpcontent__item--description {
        font-size: $size-sub-heading;
        font-weight: $font-regular;
      }
    }
  }
}
