@use "../abstracts/mixins" as mixins;
@use "../abstracts/variables" as variables;

.ontwerpcards {
  display: flex;
  flex-direction: column;

  & > :nth-child(even) {
    flex-direction: row-reverse;
  }
  .ontwerpcards__card {
    display: flex;
    gap: 40px;

    .ontwerpcards__card--text {
      width: 60%;
      @include mixins.center-left;

      .ontwerpcards__card--title {
        font-size: variables.$size-sub-heading;
      }

      .ontwerpcards__card--paragraph {
        font-size: variables.$size-text;
      }

      .ontwerpcards__card--paragraph {
        font-size: variables.$size-text;
      }
    }
    .ontwerpcards__card--image {
      width: 40%;

      & > img {
        width: 100%;
        @include mixins.cut-corner;
      }
    }
  }
}

.ontwerpcards__list {
  padding: 10px 10px 10px 20px;
  list-style: inside;
  list-style-type: "- ";
}
