@use "../abstracts/mixins" as mixins;
@use "../abstracts/variables" as variables;

.projectcards {
  display: flex;
  flex-direction: column;

  & > :nth-child(even) {
    flex-direction: row-reverse;
  }
  .projectcards__card {
    display: flex;
    gap: 40px;

    .projectcards__card--text {
      width: 60%;
      @include mixins.center-left;

      .projectcards__card--title {
        font-size: variables.$size-sub-heading;
      }

      .projectcards__card--paragraph {
        font-size: variables.$size-text;
      }
      .read-more {
        align-self: flex-end;
      }
    }
    .projectcards__card--image {
      width: 40%;

      & > img {
        width: 100%;
        @include mixins.cut-corner;
      }
    }
  }
}

.projectcards__list {
  padding: 10px 10px 10px 20px;
  list-style: inside;
  list-style-type: "- ";
}
