@use "../abstracts/variables" as *;
@import "../abstracts/include-media";

.projectcontent {
  background-color: $secondary-color;

  .projectcontent__wrapper {
    display: flex;
    justify-content: space-between;

    .projectcontent__item {
      text-align: center;

      .projectcontent__item--title {
        font-size: $size-heading;
        font-weight: $font-bold;

        @include media("<tablet") {
          font-size: $size-sub-heading;
        }
      }

      .projectcontent__item--description {
        font-size: $size-sub-heading;
        font-weight: $font-regular;

        @include media("<tablet") {
          font-size: $size-text;
        }
      }
    }
  }
}
