// Colors
$primary-color: #425563;
$secondary-color: #a4bcc2;

// Fontweights
$font-regular: 400;
$font-bold: 600;

$size-heading: 36px;
$size-sub-heading: 20px;
$size-text: 16px;
$size-sub-text: 10px;

$font-family: "Poppins", sans-serif;

// cut corner-radius
$corner-radius: 40px;
